/* Styles import */
@import url(header.css);

/* Fonts google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}
body{
    background-color: #FFE6A7;
}
h1  { 
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container {
    background-color: #99582A;
    padding: 20px;
}
a {
    text-decoration: none;
}

.banner__container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

.productos__title{ 
    text-align: center;
    font-size: 4vh;
    margin-top: 20px;
}
.categorias {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    gap: 40px;
}
.categorias__container {
    background-color: rgb(184, 133, 81);
    width: 40%;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
}
h3 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.header__nav {
    padding: 20px;
}
.footer__redes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.footer__redes-item {
    list-style: none;
    background-color: rgb(171, 116, 27);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.footer__redes-item a {
    text-decoration: none;
    color: black;
}